<span class="img-card">
  <img src="{{this.thumbnail}}" alt="img not found :(" />
  <div class="img-info">
    <p>{{this.title}}</p>
    <p>{{this.desc}}</p>
    <a href="/posts/{{this.id}}"></a>
  </div>
</span>