<span class="img-card">
  <div class="img-info">
    <a
      class="img-link"
      href="/posts/{{this.id}}"
      title='Title: "{{this.title}}" &#10;Desc: &#10;"{{this.description}}"'
    >
      <img src="/{{this.thumbnail}}" alt="img not found :(" />
    </a>
  </div>
</span>