<fieldset class="comment-text">
  <legend>
    <div id="message-{{id}}" class="comment">
      <div class="comment-info username"><strong>>{{username}}</strong></div>
      <div class="comment-info comment-date">{{formatDate createdAt}}</div>
    </div>
  </legend>
  {{text}}
</fieldset>