<html>
  <body>
    <h2>WELCOME >{{username}}</h2>
    <main>
      <div id="main-searchbar">
        <form id="main-searchbar"
          method="GET"
          action="/posts/search"
          enctype="application/x-www-form-urlencoded"
        >
          <button type="submit">â</button>
          <input type="text" id="main-search-text" name="search" />
        </form>
      </div>
    </main>
  </body>
</html>