<html>
  <body>
    <h2>View Posts</h2>
    <main>
      <section>
        <p>title</p>
        <p>desc</p>
        <p>author</p>
        <p>date posted</p>
        <img
          src="https://fakeimg.pl/200x100/282828/eae0d0/?retina=1"
          alt="Fake image not found :("
        />
      </section>
    </main>
  </body>
</html>